<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.flaneurs.com.flaneurs" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />

    <permission
        android:name="com.truiton.supportmapfragment.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="com.truiton.supportmapfragment.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".FlaneurApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
         >
        <activity
            android:name=".activities.DiscoverActivity"
            android:theme="@style/AppTheme"
            android:label="@string/discover_label" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar.GreenStatusBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.InboxActivity"
            android:theme="@style/AppTheme"
            android:label="@string/inbox_label" />
        <activity
            android:name=".activities.ComposeActivity"
            android:theme="@style/AppTheme"
            android:label="@string/compose_label" />
        <activity
            android:name=".activities.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar.ClearStatusBar"
            android:label="@string/profile_label" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/gmaps_api_key" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_app_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activities.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
